.Group-sign{
    position: relative;
    height: 829px;
}
.Group-form{
    position: absolute;
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
    margin: 0px auto;
    width: 300px;
    left: 50%;
    top: 50%;
    
    transform: translate(-50%,-100%);
}

.Group-form input{
    border-style: none;
    outline: none;
    border-bottom: 1px solid black;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    width: 200px;
    transition: width 0.4s;
    
}
.Group-form input:focus{
    width: 250px;
    text-align: center;
}
.area{
    margin-top: 5px;
}