.Normal-login{
    position: relative;
    height: 829px;
}
.Normal-div{
    border: 1px solid black;
    border-radius: 12px;
    height: 300px;
    width: 300px;
    text-align: center;
    position: absolute;
    left:  50%;
    top: 50%;
    transform: translate(-50%,-100%);
}
#Normal-form input{
    border-style: none;
    border-bottom: 1px solid black;
    margin-top: 15px;
    width: 200px;
    outline: none;
    font-size: 16px;
    transition: width 0.4s;
}
#Normal-form input:focus{
    width: 250px;
    text-align: center;
}
